
body {
    background-color: aquamarine;
  }

.semaforo {
    width: 100px;
    height: 300px;
    padding: 10px;
    margin-top: 60px;
    background-color: black;
}
.red-ligth {
    background-color: red;
    width: 80px;
    height: 80px;
    border-radius: 80%;
}

.yellow-ligth {
    background-color: yellow;
    width: 80px;
    height: 80px;
    border-radius: 80%;
}

.green-ligth {
    background-color: green;
    width: 80px;
    height: 80px;
    border-radius: 80%;
}

.selected {
    -webkit-box-shadow: -12px -12px 63px 20px rgba(245,223,245,0.89);
    -moz-box-shadow: -12px -12px 63px 20px rgba(245,223,245,0.89);
    box-shadow: -12px -12px 63px 20px rgba(245,223,245,0.89);
    transform:2rem ;
}

.post{
    background-color: rgb(27, 27, 27);
    width: 2rem;
    height: 12rem;
}

.base{
    background-color: rgb(27, 27, 27);
    width: 10rem;
    height: 2rem;
    border-radius: 20%;
}